.main {
  width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
}

.logo {
  width: 113.33px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
  margin-bottom: 20px;
}
.logo__image {
  width: 113.33px;
  height: 17px;
  color: #181818;
}
.burger {
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger__line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}

.menu {
  display: block;
  visibility: visible;
}

.menu__items {
  padding: 18px 0 10px 0;
  text-align: left;
}
