button,
._btn {
  cursor: pointer;
}
._btn-icon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}
._btn-icon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.search__svg {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  stroke: #ffffff;
  fill: transparent;
}

.track__time-svg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
}
.player__btn-next-svg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}
.player__btn-repeat-svg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #d9d9d9;
}
.player__btn-shuffle-svg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #d9d9d9;
}
.track-play__svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.track-play__like-svg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #d9d9d9;
}

.track-play__dislike-svg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #d9d9d9;
}
.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__svg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.track__title-image {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}
.track__title-svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #d9d9d9;
}
.content__titleCol {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #4e4e4e;
}

.playlist-title__svg {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #d9d9d9;
}

.player__btn-prev,
.player__btn-play,
.player__btn-next,
.player__btn-repeat,
.player__btn-shuffle {
  padding: 5px;
  display: flex;
  align-items: center;
}

.player__btn-prev {
  margin-right: 23px;
}
.player__btn_prev_svg {
  width: 15px;
  height: 14px;
}

.player__btn-play {
  margin-right: 23px;
}
.player__btn-play-svg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}
.player__btn-next {
  margin-right: 28px;
  fill: #a53939;
}

.player__btn-repeat {
  margin-right: 24px;
}

.player__btn-shuffle {
  display: flex;

  align-items: center;
}

.player__track-play {
  display: flex;
  flex-direction: row;
}

.track-play__image {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: image;
}
.track-play__like-dis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 26%;
}

.track-play__like,
.track-play__dislike {
  padding: 5px;
}
.image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}
.col04 {
  width: 75px;
  text-align: end;
  padding-right: 15px;
}
