.main {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 92px 0 0;
  flex-direction: row;

  align-items: center;

  justify-content: end;
}

.image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__progress {
  width: 109px;
  cursor: pointer;
}

.volume__progressLine {
  width: 109px;
  cursor: pointer;
}
