.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
  justify-content: flex-start;
  background-color: #181818;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}

.filterItems {
  color: rgb(249, 247, 247);
  padding: 5px 12px;
  text-decoration: none;
  display: block;
  background-color: #383838;
}

.filterItems:hover {
  border-color: #d9b6ff;
  background-color: #4b4a4a;
  color: #d9b6ff;
  text-decoration: underline;
}
